body{
  background-color: #292B2C;
}

.main{
  background-image: url(../img/pc/bureau1.jpg);
  background-size: cover;
  height: 600px;
}

header .fa{
  font-size:35px;
}

#navbarNavDropdown{
width: 20%;
}
/**************************************************************header********************************************************
***********************************************************************************************************************/

header{
  position: sticky;
  top: 0;
  z-index: 1;
}


h2{
  color: white;
}



/*************************************************************footer*********************************************************
**********************************************************************************************************************/
